body {
    font-family: Arial, sans-serif;
    background-image: url('asset/img/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px; /* Adjust the width of the logo as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 36px; /* Adjust font size as needed */
    color: #333;
}

.contact p {
    margin: 0;
    font-size: 16px; /* Adjust font size as needed */
    color: #333;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    margin: 0;
    font-size: 14px;
}


